
body {
    background-image: linear-gradient(to bottom right, black, rgb(65, 65, 65));
    color: white;
}

a:link {
    text-decoration: none;
}

span, p, li {
    color: white;
}

.home-page-link {
    display: inline-block;
    text-align: center;
    position: relative;
    border-bottom: hidden;

    transition: .2s;

}

.home-page-link span {
    visibility: hidden;
    opacity: 0;
    font-size: 36px;

    transition: opacity .2s, visibility .2s;
}

.home-page-link:hover span {
    visibility: visible;
    opacity: 1;
}

.home-page-link:hover .home-page-img {
    width: 100%;
    filter: grayscale(0%);
}

.home-page-img {
    width: 95%;
    object-fit: cover;
    height: 20vw;
    /* max-height: 25vw; */
    filter: grayscale(100%);
    transition: .2s;
}

.header {
    display: block;
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    color: white;
}

.link-label {
    text-align: center;
}

.subheader {
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    color: white;
    margin-bottom: 100px;
}

@media only screen and (max-width: 991px) {
    
    .home-page-link span {
        font-size: 20px;
    }
}

@media only screen and (max-width: 650px) {
    
    .home-page-link span {
        visibility: visible;
        opacity: 1;
        font-size: 20px;
    }

    .home-page-img {
        width: 100%;
        filter: grayscale(0%);
    }
}