body {
    background-image: linear-gradient(to bottom right, black, rgb(65, 65, 65));
    color: white;
}

h1, h2, span, p {
    color: white;
}

.back-btn {
    position: sticky;
    top:20;
    left:20;
    font-size: 24px;
}

.portfolio-piece {
    padding: 30px;
}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}